#row {
  display: flex;
  gap: 10px;
}

ul > li {
  list-style: none;
  font-size: 17px;
  text-align: left;
  margin: 20px 8px;
  padding-left: 20px;
  color: white;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul > li::before {
  content: '';
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-image: url(../images/to-do/unchecked_icon.svg);
  background-size: cover;
  background-position: center;
  left: -10px;
  top: -1px;
}

ul {
  padding: 0;
}

ul > li.checked {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: line-through;
}

ul > li.checked::before {
  background-image: url(../images/to-do/checked_icon.svg);
}

ul > li > span {
  position: absolute;
  right: 0;
  top: -6px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: white;
  text-align: center;
  border-radius: 13px;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  opacity: 0.7;
}

ul > li > span:hover {
  background-color: rgb(50, 50, 50);
  opacity: 1;
}
