#weather-container {
  background-color: rgb(7, 7, 7);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 108px);
  margin: 0;
}

#weather-item {
  background-color: rgb(17, 17, 17);
  max-width: 500px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 75px 2px rgba(255, 255, 255, 0.158);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(30, 30, 30, 0.7);
  text-align: center;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.8;
}

#weather-item:hover {
  opacity: 1;
}

h2,
label,
p {
  color: rgb(255, 255, 255);
  margin: 8px 0;
}

input {
  width: calc(100% - 40px);
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 20px;
}

button {
  color: white;
  background-color: rgb(30, 30, 30);
  font-size: 15px;
  width: 100px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 13px;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  opacity: 0.7;
}

button:hover {
  background-color: rgb(50, 50, 50);
  opacity: 1;
}

#temp-div > p {
  font-size: 60px;
  margin-top: -30px;
}

#weather-info {
  font-size: 20px;
}

#weather-icon {
  width: 200px;
  height: 200px;
  margin: 0 auto 10px;
  margin-bottom: 0;
  display: none;
}

#hourly-forecast {
  overflow-x: auto;
  display: flex;
}

.hourly-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  width: 80px;
  margin: 40px 10px 20px;
  color: rgb(255, 255, 255);
}

.hourly-item > img {
  width: 50px;
  height: 50px;
}
